:root {
  --transform: 0;
}

.Projects {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  position: absolute;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.btn img {
  width: 50%;
  height: 50%;
}

.slide_container {
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 60vh;
}

.slides {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(var(--transform));

  gap: 2em;
}

.slide {
  min-width: 350px;
  height: 60vh;
  border-radius: 8px;
  background: #c9c9c9ff;
}

.open {
  width: 360px;
  height: 65vh;
  background: #000;
}
